<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}">
    <title>User List</title>
</head>
<body>
<header th:replace="~{HeaderAndFooter::Header}">
    <ul class="navigation-bar">
        <li><a href="Index.html">Some Header Links</a></li>
    </ul>
    <h1>Some header text</h1>
</header>
<main>
    <h2>Index</h2>
    <p><a href="UserList.html" th:href="@{/users}">User List</a></p>
    <p><a href="PetList.html" th:href="@{/pets}">Pet List</a></p>
</main>
<footer th:replace="~{HeaderAndFooter::footer}">
    Some footer text
</footer>
</body>
</html>
