<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}">
    <title>Pet List</title>
</head>
<body>
<header th:replace="~{HeaderAndFooter::Header}">
    <ul class="navigation-bar">
        <li><a href="Index.html">Some Header Links</a></li>
    </ul>
    <h1>Some header text</h1>
</header>
<main>
    <h2>Pet List</h2>
    <table>
        <tr>
            <th>Count</th>
            <th>Pet Name</th>
            <th>Pet Kind</th>
            <th>Options</th>
        </tr>
        <tr th:each="p,i: ${pets}">
            <td th:text="${i.count}">1</td>
            <td th:text="${p.name}">Bugs</td>
            <td th:text="${p.petKind}">rabbit</td>
            <td>
                <a href="PetDetails.html" th:href="@{/pets/{id}(id=${p.id})}">Info</a>
            </td>
        </tr>
    </table>
</main>
<footer th:replace="~{HeaderAndFooter::footer}">
    Some footer text
</footer>
</body>
</html>
